# uShip/Infrastructure is owned by the SRE Team. If you or your
# team would like to take ownership of any part of the repo
# please work with your SRE for approval.
# @uShip/SRE
@uShip/dba
@uship/data-engineering


# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @uShip/dba @uship/data-engineering
