# uShip/Infrastructure is owned by the SRE Team. If you or your
# team would like to take ownership of any part of the repo
# please work with your SRE for approval.
# @uShip/SRE
@uShip/dba
@uship/data-engineering
